# Redis connection used for queueing and caching
REDIS_URL= redis-cli -u redis://default:7QqNUv3PeK4IWMcce7rLOXzWe6MdHtkH@redis-11557.crce263.ap-south-1-1.ec2.cloud.redislabs.com:11557
PORT=4000
CACHE_TTL_SECONDS=60
